header.app-header .user{
    display: flex;
    align-items: center;
    gap: 1em;
}
header.app-header .user button:hover {
    background-color: rgb(0, 140, 255);
    color: white;
}
header.app-header .user button {
    background-color: rgb(221, 241, 255);
    border-radius: 0.6em;
    padding: 0.5em 0.7em;
    border: 1px solid rgb(0, 140, 255);
    transition: 0.2s;
    cursor: pointer;
}

header.app-header {
    padding-block: 1em;
    justify-content: center;
    width: 95vw;
    gap: 2rem;
}

.app-header a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: rgb(83, 123, 198);
}

.app-header a.active {
    font-weight: bold;
    color: rgb(62, 108, 194);
}