.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-start {
    justify-content: start;
}

.full {
    grid-column: 1 / -1;
}

.grid {
    display: grid;
}
