body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

label {
    font-weight: 600;
}

main {
    margin: 2em;
}

ul li {
    list-style-type: none;
}

a.active {
    color: black;
    text-decoration: none;
}