.add-toy-btn {
    margin-top: 1em;
    width: 10em;
    height: 3em;
    background-color: white;
    border: 3px solid rgb(83, 123, 198);
    color: rgb(70, 106, 174);
    transition: 0.2s;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
}

.add-toy-btn:hover {
    color: white;
    background: rgb(83, 123, 198);
    border: 3px solid rgb(83, 123, 198);
}

/** MODAL: */


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #5b5b5b;
    padding: 2em;
    width: 30%;
    height: max-content;
    border-radius: 10px;
    z-index: 10;
}

.modal-content form {
    gap: 1.5em;
}

.modal form label {
    display: flex;
    align-items: center;
    width: max-content;
    font-weight: 200;
    gap: 1em;
}

.modal-content form input {
    width: stretch;
    height: 2em;
    border-radius: 7px;
    padding-inline-start: 1em;
    padding-block: 0.2em;
    border: 1px solid rgb(194, 194, 194);
    background-color:transparent;
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-size: 1em;
    transition: 0.2s;
}

.modal-content form button {
    margin-top: 1em;
    background-color: lightskyblue;
    height: 3em;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}

.modal .close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid lightgray;
    transition: 0.1s;
    color: black;
    background-color:transparent;
    /* background-color: rgb(155, 155, 155); */
    font-weight: 600;
}

.modal .close:hover {
    background-color: rgb(255, 94, 94);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
